@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-panchang {
  font-family: 'Panchang', sans-serif;
}

.font-pretendard {
  font-family: 'Pretendard', sans-serif;
}